.container_fire_safety {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;

	.wrapper_fire_safety {
		display: flex;
		flex-direction: column;
		width: 1170px;

		p {
			margin-bottom: 15px;
		}

		h4 {
			margin-bottom: 15px;
		}
	}
}
