.container_main_info {
	display: flex;
	justify-content: center;

	.wrapper_main_info {
		display: flex;
		justify-content: space-between;

		height: 60px;
		width: 1170px;

		.logo {
			display: flex;
			align-items: center;
			img {
				width: 40px;
				height: 40px;
			}
			p {
				width: 80px;
			}
		}

		.links {
			display: flex;
			gap: 15px;
		}
	}
}

.container_contacts {
	display: flex;
	justify-content: center;

	background-color: #020202;
	color: white;

	.wrapper_contacts {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: 30px;
		width: 1170px;
	}
}
