.aboutUs_container {
	margin: 10px;
	.aboutUs_wrapper {
		margin: 0 auto;
		max-width: 1170px;
	}

	p {
		margin-bottom: 10px;
	}

	h1 {
		padding: 15px;
	}

	h4 {
		margin-bottom: 10px;
	}

	ul {
		padding-left: 15px;
		list-style: circle;
	}
}
