.container_contacts {
	-webkit-box-shadow: 0px 14px 28px -10px rgba(34, 60, 80, 0.43);
	-moz-box-shadow: 0px 14px 28px -10px rgba(34, 60, 80, 0.43);
	box-shadow: 0px 14px 28px -10px rgba(34, 60, 80, 0.43);

	display: flex;
	justify-content: center;

	background-color: #020202;
	color: white;

	.wrapper_contacts {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.8rem;
		color: #b6b6b6;
		padding: 0 10px;

		height: 30px;
		width: 1170px;
	}
}

.container_main_info {
	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-box-shadow: 0px 14px 28px -10px rgba(34, 60, 80, 0.43);
	-moz-box-shadow: 0px 14px 28px -10px rgba(34, 60, 80, 0.43);
	box-shadow: 0px 14px 28px -10px rgba(34, 60, 80, 0.43);

	border-bottom: 1px solid rgb(179, 179, 179);

	.wrapper_main_info {
		display: flex;
		justify-content: space-between;

		width: 1170px;
		height: 60px;
		overflow: hidden;
		// padding-right: 10px;

		.logo {
			display: flex;
			align-items: center;

			img {
				width: 75px;
				height: 75px;
			}

			p {
				width: 130px;
				text-align: center;
				font-weight: 650;
			}
		}

		.links {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 500;

			li {
				cursor: pointer;

				a {
					padding: 10px;
					text-decoration: none;
					&:visited {
						color: #020202;
					}
				}
			}
		}

		@media screen and (max-width: 992px) {
			.links {
				display: none;
			}
		}
	}

	.burger_wrapper {
		display: none;
		padding-right: 20px;
	}

	@media screen and (max-width: 992px) {
		.burger_wrapper {
			display: block;
			img {
				height: 40px;
				width: 40px;
			}
		}
	}
}
