.container_crew_training {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;

	.wrapper_crew_training {
		display: flex;
		flex-direction: column;
		width: 1170px;

		h4 {
			margin-bottom: 5px;
		}

		p {
			margin-bottom: 5px;
		}

		ul {
			list-style: circle;
			margin-bottom: 5px;
		}
	}
}
