h1,
h2 {
	text-align: center;
}

h1 {
	padding: 15px;
	font-weight: 700;
}

.container_prices {
	display: flex;
	justify-content: center;
	margin: 0 10px 10px 10px;

	.wrapper_prices {
		h2 {
			margin-bottom: 12px;
		}

		display: flex;
		flex-direction: column;
		justify-content: center;

		width: 1170px;

		.table {
			display: grid;
			grid-template-columns: 4fr 1fr 1fr;
			grid-template-rows: 1fr;

			border: 1px solid gray;
			margin-bottom: 15px;

			div {
				text-align: left;
				border: 1px solid gray;
				padding: 3px 5px;

				&:nth-child(3n) {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&:nth-child(3n - 1) {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&:nth-child(1) {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&:nth-child(1) {
					font-weight: 700;
				}
				&:nth-child(2) {
					font-weight: 700;
				}
				&:nth-child(3) {
					font-weight: 700;
				}
			}
		}
	}
}
