h1,
h2 {
	text-align: center;
}

.container_prices {
	display: flex;
	justify-content: center;

	h1 {
		font-weight: 700;
		margin-bottom: 20px;
	}

	h2 {
		margin-bottom: 12px;
	}

	.wrapper_prices {
		display: flex;
		flex-direction: column;
		justify-content: center;

		width: 1170px;

		.table {
			display: grid;
			grid-template-columns: 4fr 1fr 1fr;
			grid-template-rows: 1fr;

			border: 1px solid gray;
			margin-bottom: 25px;

			div {
				text-align: left;
				border: 1px solid gray;
				padding: 3px 5px;
			}
		}
	}
}
